:root {
    font-family: 'Roboto', sans-serif;
}

body {
    height:100vh;

    margin:0;
    padding:0;
}

.main-container {
    display: flex;
    Height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.image-banner {
    width: 40%;
    position: relative;
    z-index: 0;
}

.banner-image {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.logo-banner {
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    position: absolute;
    margin-top: -600px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
}

#logo-header {
    color: white;
}

.logo {
    height: 90px;
    width: 75px;
    
}

.main-section {
    width: 60%;
    margin-top: 150px;
    margin-left: 40px;
}

#tagline {
    margin-bottom: 100px;
}